.validation_error{
    color: red;
    font-style: italic;
}
.update_edit_form{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: -40px;
    background: none;
    padding: 0px;
    width: 50px;
    margin: 0px;
}
.edit_select_picker {
    border-radius: 10px;
    border: 2px solid #8e7af9;
    height: 50px;
    padding: 10px;
    width: 350px;
    font: 16px/19px proxima_nova_regular, sans-serif;
    color: #C3C5D5;
}
.category_preview_image{
    width: 141px;
    height: 142px;
    object-fit: cover;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
.category_modal_image_container{
    display: inline-block;    
    width: 141px;
}
.category_modal_image{
    width: 141px;
    height: 142px;
    object-fit: cover;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
.delete_image {
    width: 25px;
    height: 25px;
    background-image: url("../../images/close.svg");
    border: none;
    background-color: #fff;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.pagination{
    gap: 8px;
    position: absolute;
    right: 60px;
    top: 825px;

    input{
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        background: #2A2D3E;
        border: 1px solid #2A2D3E;
        font-weight: bold;
        color: #B0B0B0;

        &:hover{
            color: #9C89FF;
            border: 1px solid #9C89FF;
        }
    }
}