.pagination{
    gap: 8px;
    position: absolute;
    right: 275px;
    top: 915px;

    input{
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        background: white;
        border: 1px solid white;
        font-weight: bold;
        color: #B0B0B0;

        &:hover{
            color: #9C89FF;
            border: 1px solid #9C89FF;
        }
    }
}